<div class="card"style="width: 30rem;margin-left: 30rem;">
  <div class="card-header"><h1>update your account</h1></div>
  <div class="card-body"><%= render 'form', user: @user %></div> 
  <div class="card-footer"><div class="card-footer"><%= link_to 'Home', posts_path,class:"col-sm-3",class:"btn btn-secondary" %>
</div>
