<div class="card"style="width: 20rem;margin-left: 30rem;">
<h2><i class="fab fa-instagram" style="color:red"> Instagram</i></h2>
  <div class="card-header">Profile</div>
  <div class="card-body"><p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
</div>
  <div class="card-footer"><%= link_to 'Home', posts_path,class:"col-sm-3",class:"btn btn-secondary" %>
  <%= link_to 'Edit', edit_user_path(@user),class:"btn btn-secondary",class: "col-sm-3" %></div>
</div>