<div class="card"style="width: 20rem;margin-left: 30rem;">
  <div class="card-header"><h1><i class="fab fa-instagram" style="color:red"></i>New Post</h1></div>
  <div class="card-body"><%= render 'form', post: @post %></div>
  <div class="card-footer"><%= link_to 'Back', posts_path, class:"btn btn-primary" %></div>
</div>